*
!/.github/
!/.github/**
!/.devcontainer/
!/.devcontainer/**
!/assets/
!/assets/**
!/autorun/
!/autorun/**
!/bin/
!/bin/**
!/client/
!/client/**
!/local/
!/local/**
!/misc/
!/misc/**
!/scripts/
!/scripts/**
!/server/
!/server/**
!/shared/
!/shared/**
!/wiki/
!/wiki/*.md
!/LICENSE
!/*.md
!/.gitignore
!/pyproject.toml

**/__pycache__/
**/*.py[cod]
**/*$py.class